@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SkyWeb Admin</title>

    <!-- Vendor CSS -->
    <link href="/Content/template-material/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="/Content/template-material/vendors/bower_components/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="/Content/template-material/css/app.min.1.css" rel="stylesheet">
    <link href="/Content/template-material/css/app.min.2.css" rel="stylesheet">
    <link href="~/Content/css/login.css" rel="stylesheet" />

    <link rel="shortcut icon" href="/Content/images/Wisky_Ico.ico">
</head>

<body class="login-content">
    <div class="header text-center">
        <h2>
            Chào mừng đến với trang quản trị
            <span>SkyWeb Admin</span>
        </h2>
    </div>
    <!-- Login -->
    <div class="lc-block toggled" id="l-login">
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="md md-person"></i></span>
            <div class="fg-line">
                <input type="text" class="form-control" placeholder="ID">
            </div>
        </div>

        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="md md-accessibility"></i></span>
            <div class="fg-line">
                <input type="password" class="form-control" placeholder="Password">
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                <i class="input-helper"></i>
                Keep me signed in
            </label>
        </div>

        <a href="#" class="btn btn-login btn-danger btn-float"><i class="md md-arrow-forward"></i></a>
    </div>

    <!-- Javascript Libraries -->
    <script src="/Content/template-material/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/Content/template-material/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/Content/template-material/vendors/bower_components/Waves/dist/waves.min.js"></script>

    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="/Content/template-material/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->

    <script src="/Content/template-material/js/functions.js"></script>

</body>
</html>