@model ImageCollectionDetailsViewModel

<div class="block-header">
    <h2>Thư viện hình ảnh "@(Model.ImageCollection.Name)"</h2>
    <ul class="actions">
        <li class="m-r-10">
            <a class="btn btn-default" href="@this.Url.Action("Index")">Quay lại</a>
        </li>
        <li>
            <button type="submit" class="btn btn-primary" id="btn-submit-collection">Hoàn tất</button>
        </li>
    </ul>
</div>
<div class="card">
    <div class="card-header"></div>
    <div class="card-body card-padding">
        <div class="row" id="galleryContainer">
            @foreach (var item in Model.Items ?? new List<ImageCollectionItemViewModel>())
            {
            <!-- Gallery item -->
                <div class="col-md-3">
                    <div class="removeable">
                        <div class="gallery-item">
                            <div class="ratio-wrapper ratio-wrapper-4-3">
                                <div class="ratio-item">
                                    <div class="img-container">
                                        <img class="img-responsive" src="@item.ImageUrl" />
                                    </div>

                                </div>
                            </div>
                            <div class="caption">
                                <input class="form-control" placeholder="Chú thích" value="@item.Title" />
                            </div>
                        </div>
                        <a class="btn-remove" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            }
            <!-- Gallery item -->
            <div class="col-md-3">
                <div class="gallery-item plus-item">
                    <div class="ratio-wrapper ratio-wrapper-4-3">
                        <div class="ratio-item">
                            <a data-action="add-gallery-item" href="#"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Gallery item-->
        </div>
    </div>
</div>
<!-- Gallery item used for Gallery pages-->
<template id="tmpGalleryItem">
    <div class="col-md-3">
        <div class="removeable">
            <div class="gallery-item">
                <div class="ratio-wrapper ratio-wrapper-4-3">
                    <div class="ratio-item">
                        <div class="img-container">
                            <img class="img-responsive" src="~/Content/images/default_product.jpg" />
                        </div>

                    </div>
                </div>
                <div class="caption">
                    <input class="form-control" placeholder="Chú thích" />
                </div>
            </div>
            <a class="btn-remove" href="#"><i class="fa fa-times"></i></a>
        </div>
    </div>
</template>
