@{
    ViewBag.Title = "Báo cáo theo giờ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h3>Báo cáo theo giờ chỉnh sửa</h3>
                <h5 class="smallDate" data-role="small-date"></h5>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12" style="margin-top: 19px;">
                <div class="input-group" style="margin-left: -15px;">
                    <!-- Daterange picker -->
                    <div class="dateTime width230 pull-right">
                        <div class="fg-line m-t-5">
                            <div id="reportrange2" class="height-fix">
                                <input id="startYear2" size="23" readonly class="form-control text-center pull-right">
                                <a class="myCelenderA" id=""> <i class="fa fa-calendar"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="input-group-btn FindButtonDateTime">
                        <a class="btn btn-primary FindDateTime" id="btnSearch2" style="height: 35px;">
                            <i class="left-icon fa fa-search"></i> Tìm
                        </a>
                    </div>
                    <form id="form-create-session" class="form-inline" style="display:none">
                        <input type="text" id="sTime2" name="startTime2" placeholder="Chọn giờ bắt đầu" />
                        <input type="text" id="eTime2" name="endTime2" placeholder="Chọn giờ kết thúc" />
                    </form>
                </div>

            </div>
        </div>

        <!-- LINE CHART -->
        <div>
            <button type="button" data-show="show" id="btnChart2" class="btn btn-primary btn-sm" style="width:150px" onclick="ShowChart2()">
                <i class="fa fa-plus">
                </i> Hiển thị biểu đồ
            </button>
            <!-- export to excel -->
            <button type="submit" id="export2" class="btn btn-primary btn-sm pull-right">
                <i class="fa fa-download"></i>
                Xuất ra file Excel
            </button>
        </div>
        <div id="containerCol2" style="min-width: 310px;height:400px;padding:7px;display:none;transition: visibility 0s, opacity 0.5s linear;"></div>
        <div id="datatable2" style="padding-top:5px;">

        </div>
        <form class="hidden" id="formMonthReportExcel2" action="@Url.Action("ExportHourTableToExcel","TimeReport")">
            <input id="startTime2" name="startTime" />
            <input id="endTime2" name="endTime" />
        </form>
    </div>

</div>
<script>
    $(document).ready(function () {
        setupDaterangerpicker2();
        hourReportStores();
    });

    function setupDaterangerpicker2() {
        function cb(start, end, label) {
            //console.log(start.toISOString(), end.toISOString(), label);

            //Prepare start time and end time format
            var startTime = start.format("DD/MM/YYYY"),
                endTime = end.format("DD/MM/YYYY"),
                dateString = "(" + startTime + (startTime == endTime ? "" : " - " + endTime) + ")";

            if (label != "Tùy chọn") {
                $('#startYear2').val(label);
            } else {
                $('#startYear2').val(dateString);
            }

            $('#sTime2').val(startTime);
            $('#eTime2').val(endTime);

            //Chage date at page header
            $('[data-role=small-date]').html(dateString);

            $('#reportrange2 span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
        };
        cb(moment().add(0, 'week').startOf('isoweek'), moment().add(0, 'week').endOf('isoweek'), "Tuần này");
        $('#reportrange2').daterangepicker({
            format: 'DD/MM/YYYY',
            startDate: moment().add(0, 'week').startOf('isoweek'),
            endDate: moment().add(0, 'week').endOf('isoweek'),
            minDate: '01/01/2012',
            maxDate: '31/12/2100',
            dateLimit: { days: 365 },
            showDropdowns: true,
            showWeekNumbers: true,
            timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            //parentEl: '.modal-body',
            ranges: {
                'Hôm nay': [moment(), moment()],
                'Tuần này': [moment().add(0, 'week').startOf('isoweek'), moment().add(0, 'week').endOf('isoweek')],
                'Tuần trước': [moment().add(-1, 'week').startOf('isoweek'), moment().add(-1, 'week').endOf('isoweek')],
                'Tháng này': [moment().add(0, 'month').startOf('month'), moment().add(0, 'month').endOf('month')],
                'Tháng trước': [moment().add(-1, 'month').startOf('month'), moment().add(-1, 'month').endOf('month')]
            },
            opens: 'left',
            drops: 'down',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-primary',
            cancelClass: 'btn-success',
            separator: ' to ',
            locale: {
                format: 'DD/MM/YYYY',
                applyLabel: 'Chọn',
                cancelLabel: 'Hủy',
                fromLabel: 'Từ',
                toLabel: 'Đến',
                customRangeLabel: 'Tùy chọn',
                daysOfWeek: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                firstDay: 1
            }
        }, cb);

    }

    function RefreshTable() {
        var oTable = $("#monthRReport").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    };
    var InitProDatatable2 = function (data) {
        $('#datatable2').html('<table id="monthRReportStores" class="table table-condensed table-striped table-bordered table-hover">'
                            + '<thead style="white-space: nowrap; text-overflow: ellipsis;">'
                + '<tr>'
                + '<th>'
                + '<label class="">STT</label>'
               + '</th>'
                + '<th>'
              + '      <label class="">Khoảng thời gian</label>'
              + '  </th>'
              + '  <th>'
               + '     <label class="">Số lượng(Mang đi)</label>'
               + ' </th>'
               + ' <th>'
                + '    <label class="">Thành tiền</label>'
               + ' </th>'
               + ' <th>'
               + '     <label class="">Số lượng(Tại store)</label>'
               + ' </th>'
               + ' <th>'
               + '     <label class="">Thành tiền</label>'
               + ' </th>'
               + ' <th>'
               + '     <label class="">Số lượng(Giao hàng)</label>'
               + ' </th>'
                + '<th>'
                + '    <label class="">Thành tiền</label>'
                + '</th>'
                + '<th>'
                + '    <label class="">Tổng cộng</label>'
                + '</th>'
               + ' <th>'
                + '    <label class="">Thành tiền</label>'
               + ' </th>'
            + '</tr>'
            + ' </thead>'
                    + '<tbody></tbody>'
                    + '</table');

        $("#monthRReportStores").dataTable({
            "bFilter": false,
            "bSort": false,
            "bRetrieve": true,
            "bScrollCollapse": true,
            'data': data,
            "bProcessing": true,
            "bPaginate": false,
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3, 4, 5, 6],
                    "bSortable": false,
                    "sClass": "text-center"
                },
            ],
            "bAutoWidth": false
        }).fnSetFilteringDelay(delaySearch);
        $('table').wrap('<div class="tableDiv-responsive" />');
    };
    $('#btnSearch2').on('click', function () {
        if ($("#eTime2").val().length > 16 || $("#sTime2").val().length > 16) {
            ShowMessage("Vui lòng nhập thời gian đúng định dạng", 3);
            return;
        }
        else {
            $('#selectedStoreId').val($('#storeCombobox').val());
            hourReportStores();
        }
    });
    var hourReportStores = function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("LoadHourReport", "TimeReport")',
            data: { 'startTime': $('#sTime2').val(), 'endTime': $('#eTime2').val(), 'selectedStoreId': '1', },
            success: function (result) {
                var startTime = $('#sTime2').val();
                var endTime = $('#eTime2').val();
                var dateRange = startTime + (startTime == endTime ? '' : ' - ' + endTime);
                if (dateRange != "") {
                    $('[data-role=small-date]').html('(' + dateRange + ')'); // Chage date at page header
                }
                else {
                    $('[data-role=small-date]').html('(01/01/' + new Date().getFullYear() + ' - 31/12/' + new Date().getFullYear() + ')');
                }
                InitProDatatable2(result.datatable);
                DoanhThuChart2(result.dataChart);
            }
        });
    };

    //-------------
    //- LINE CHART -
    //--------------
    function DoanhThuChart2(dataChart) {
        $('#containerCol2').highcharts({
            chart: {
                type: '',
                style: {
                    fontFamily: 'arial'
                }
            },
            title: {
                text: 'BIỂU ĐỒ HÓA ĐƠN'
            },
            subtitle: {
                text: 'Bộ lọc:',
                align: 'right',
                x: -310,
                y: 42,
            },
            xAxis: {
                categories: dataChart.Time
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Hóa Đơn'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y} '
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            series: [
                {
                    name: 'TakeAway',
                    data: dataChart.TakeAway,
                },
                {
                    name: 'AtStore',
                    data: dataChart.AtStore,
                },
                {
                    name: 'Delivery',
                    data: dataChart.Delivery,
                }
            ]
        });
    };

    // export to excel
    $(document).on('click', '#export2', function () {
        $('#startTime2').val($('#sTime2').val());
        $('#endTime2').val($('#eTime2').val());

        $('#formMonthReportExcel2').submit();
    });


    function ShowChart2() {
        var display = $('#btnChart2').data('show');
        if (display == "hide") {
            $('#btnChart2').data('show', 'show');
            $('#btnChart2').html(' <i class="fa fa-plus"></i> Hiển thị biểu đồ');
        }
        else {
            $('#btnChart2').html(' <i class="fa fa-minus"></i> Ẩn biểu đồ');
            $('#btnChart2').data('show', 'hide');
        }
        $('#containerCol2').toggle('show');
    }
</script>
