@model int

<input type="hidden" value="@Model" id="hiddenCategoryId" />

<table class="table table-bordered table-striped table-fixed-header" id="listProductTable">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Mã sản phẩm
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Giá tiền
            </th>
            <th>
                Danh mục
            </th>
            <th>
                Loại sản phẩm
            </th>
            <th>
                Chức năng
            </th>
            <th>
                
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@Html.Partial("_AssignToStore")
