@{
    ViewBag.Title = "Tỉ lệ đóng góp doanh số";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    Báo cáo doanh thu theo ngày
                    @*<small data-role="small-date">(20/11/2015 - 22/11/2015)</small>*@
                </h1>
            </div>
            <div class="col-md-3 col-md-offset-3">
                <div class="input-group">
                    <div class="date-picker">
                        <input type="text" id="date-string" readonly />
                        <a id="reportrange"><i class="fa fa-calendar"></i></a>
                    </div><!-- /input-group -->

                    <div class="input-group-btn">
                        <a class="btn btn-success btn-sm" id="btnSearch">
                            <i class="left-icon fa fa-search"></i>Lọc
                        </a>
                    </div>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>

    <form id="form-create-session" class="form-inline">
        <input type="text" id="sTime" name="startTime" placeholder="Chọn giờ bắt đầu" hidden />
        <input type="text" id="eTime" name="endTime" placeholder="Chọn giờ kết thúc" hidden />
    </form>

    <!-- LINE CHART -->
    <div id="container" style="min-width: 310px; height: 300px; margin: 0 auto"></div>

    <!-- export to excel -->
    <div style="margin-right:15px;">
        <button type="submit" id="export" class="btn btn-success btn-sm">
            <i class="fa fa-download"></i>
            Xuất ra file Excel
        </button>
    </div>

    <div id="datatable">
        <table id="storeReportReDatatable" class="table table-striped table-bordered table-hover" style="width: 100% !important">
            <thead style="white-space: nowrap; text-overflow: ellipsis;">

                <tr>
                    <th>
                        <label class="">Khoảng thời gian</label>
                    </th>
                    <th>
                        <label class="">Số lượng(Mang đi)</label>
                    </th>

                    <th>
                        <label class="">% trên tổng tiền</label>
                    </th>
                    <th>
                        <label class="">Số lượng(Tại store)</label>
                    </th>

                    <th>
                        <label class="">% trên tổng tiền</label>
                    </th>
                    <th>
                        <label class="">Số lượng(Giao hàng)</label>
                    </th>

                    <th>
                        <label class="">% trên tổng tiền</label>
                    </th>
                    <th>
                        <label class="">Tổng cộng</label>
                    </th>
                    <th>
                        <label class="">Thành tiền</label>
                    </th>
                </tr>

            </thead>
            <tbody></tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {

        function cb(start, end, label) {
            if (label != "Tùy chọn") {
                $('.date-picker input').val(label);
            } else {
                $('.date-picker input').val(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
            }
            $('#sTime').val(start.format('DD-MM-YYYY'));
            $('#eTime').val(end.format('DD-MM-YYYY'));
        }
        //cb(moment().subtract(29, 'days'), moment());

        $('#reportrange').daterangepicker({
            ranges: {
                'Hôm nay': [moment(), moment()],
                'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                '7 ngày trước': [moment().subtract(6, 'days'), moment()],
                '30 ngày trước': [moment().subtract(29, 'days'), moment()],
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        $(document).on('click', '#excelExport', function () {
            $("#storeReportReDatatable").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name",
                filename: "Doanh Thu và Hóa Đơn theo ngày",
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true
            });
        });

        hourReport();
    });

    function RefreshTable() {
        var oTable = $("#storeReportReDatatable").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    };

    var InitRevenueDatatable=function(dataResult) {
        //console.log(dataResult);
        $("#storeReportReDatatable").dataTable({
            "bFilter": false,
            "bSort": false,
            "bRetrieve": true,
            "bScrollCollapse": true,
            'data':dataResult,
            "bProcessing": true,
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý..."
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3, 4, 5, 6, 7, 8],
                    "bSortable": false
                },
            ],
            "bAutoWidth": false
        }).fnSetFilteringDelay(delaySearch);

        $('table').wrap('<div class="tableDiv-responsive" />');
    };

    $('#btnSearch').on('click', function () {
        if ($("#eTime").val().length > 16 || $("#sTime").val().length > 16) {
            ShowMessage("Vui lòng nhập thời gian đúng định dạng", 3);
            return;
        }
        else {
            hourReport();
        }
    });

    var hourReport = function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("LoadContributedSalesReport", "StoreReport")',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val(),'storeId':@ViewBag.storeId },
            success: function (result) {
                $('#datatable').html('<table id="storeReportReDatatable" class="table table-striped table-bordered table-hover" style="width: 100% !important">'
                    +'<thead style="white-space: nowrap; text-overflow: ellipsis;">'
                    +'<tr>'
                    +'<th>'
                        +'<label class="">Khoảng thời gian</label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">Số lượng(Mang đi)</label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">% trên tổng tiền</label>'
                    +'</th>'
                    +'<th>'
                       +'<label class="">Số lượng(Tại store)</label>'
                    +'</th>'
                    +'<th>'
                       +'<label class="">% trên tổng tiền</label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">Số lượng(Giao hàng)</label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">% trên tổng tiền</label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">Tổng cộng</label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">Thành tiền</label>'
                    +'</th>'
                    +'</tr>'
                    +'</thead>'
                    +'<tbody></tbody>'
                    +'<tfoot></tfoot>'
                    +'</table>');
                InitRevenueDatatable(result.datatable);
                DoanhThuChart(result.datachart);
            }
        });
    };
    //-------------
    //- LINE CHART -
    //--------------
    function DoanhThuChart(dataChart)
    {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                type: 'category',
                categories: dataChart.dateLine,
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total percent market share'
                }

            },

            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y}%</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },

            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },

            series: [
                {
                    name: 'TakeAway',
                    data: dataChart.BillTakeAway,
                },
                {
                    name: 'AtStore',
                    data: dataChart.BillAtStore,
                },
                {
                    name: 'Delivery',
                    data: dataChart.BillDelivery,
                }
            ],
        });
    };

    // export to excel
    $(document).on('click', '#export', function () {

        $.ajax({
            url: '@Url.Action("ExportContributedSalesTableToExcel", "StoreReport")',
            type: 'GET',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val(), 'catetoryId': $('#categoryId').val(), 'storeId': @ViewBag.storeId },
            success: function (rs) {
                if(rs.success == true) {
                    ShowMessage('Xuất file Excel thành công - D:\\', 3);
                }else {
                    ShowMessage('Xuất file Excel thất bại <br/> Vui lòng tắt file trước khi xuất', 1);
                }
            }
        });
    });
</script>
