
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h3>Quản Lý Tài Khoản Nhân Viên</h3>
            </div>
            <div class="col-md-4 text-right">
                <a href="@Url.Action("AddEmployee")" class="btn btn-primary pull-right">
                    <i class="zmdi zmdi-plus"></i>     Thêm nhân viên
                </a>
            </div>
        </div>
        <hr />
    </div>
    <div class="card-padding">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="allcust">
                <!-- Datatable -->
                <div class="row">
                    <div class="col-md-12">

                        <table id="UserDatatable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="">STT</label>
                                    </th>
                                    <th>
                                        <label class="">Tên đăng nhập</label>
                                    </th>
                                    <th>
                                        <label class="">Tên nhân viên</label>
                                    </th>
                                    <th>
                                        <label class="">Vai trò</label>
                                    </th>
                                    <th>
                                        <label class="">Tùy chọn</label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Customer Table -->


<script>
    $(document).ready(function () {
        InitUserDatatable();

    });

    function InitUserDatatable() {
        $("#UserDatatable").dataTable({
            "bFilter": true,
            "bRetrieve": true,
            "bServerSide": true,
            "bScrollCollapse": true,
            "sAjaxSource": "@Url.Action("LoadEmployeeStore")",
            "bProcessing": true,
            "bFilter": true,
            "fnServerParams": function (aoData) {
                aoData.push(
                    //{ "name": "storeId", "value": $('#storeId').val() },
                    { "name": "filterId", "value": $('#filterId').val() },
                    { "name": "customerTypeId", "value": $('#customerTypeId').val() }

                );
            },
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                },
                "sSearchPlaceholder": "Tên đăng nhập"
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2],
                    "bSortable": false,
                },
                {
                    "aTargets": [3],
                    "mRender": function (data, type, row) {
                        var roleTag = "";
                        var data = row[3];
                        for (var i = 0; i < data.length; i++) {
                            roleTag += ($('<span/>', {
                                'class': 'badge',
                                'id': 'role-',
                                html: data[i].Name,
                                'data-id': data[i].Id
                            })[0].outerHTML);
                        }
                        return roleTag;
                    }
                },

                {
                    "aTargets": [4],
                    "mRender": function (data, type, row) {
                        var data = row[4];
                        var deleteEmployee = "<a title='Xóa' class='btn btn-sm btn-danger' onclick='deleteEmployee(\"" + data + "\")'><i class='glyphicon glyphicon-trash'></i></a>";
                        return deleteEmployee;
                    },
                    "bSortable": false,
                    "sClass": "text-center"
                }

            ],
            "bAutoWidth": false,
        }).fnSetFilteringDelay(delaySearch);
    }
    //redraw datatable without reload
    function reDrawDatatable(id) {
        $.fn.dataTableExt.oApi.fnStandingRedraw = function (oSettings) {
            if (oSettings.oFeatures.bServerSide === false) {
                var before = oSettings._iDisplayStart;
                oSettings.oApi._fnReDraw(oSettings);
                //iDisplayStart has been reset to zero - so lets change it back
                oSettings._iDisplayStart = before;
                oSettings.oApi._fnCalculateEnd(oSettings);
            }

            //draw the 'current' page
            oSettings.oApi._fnDraw(oSettings);
        };
        $(id).dataTable().fnStandingRedraw();
    }

    //user datatable
    function RefreshTable() {
        reDrawDatatable("#UserDatatable");
    }

    function deleteEmployee(data) {
        ShowConfirm("Bạn có muốn xóa nhân viên này?", function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteEmp")',
                data: { id: data },
                success: function (result) {
                    if (result.success) {
                        ShowAlert("Delete Successfully", 2);
                        RefreshTable();
                    } else {
                        ShowAlert("Delete Fail", 1);
                    }
                },
                error: function (error) {
                    ShowAlert("ErrorOccured", 1);
                }
            });
        });
    }

</script>