<?xml version="1.0"?>
<GiftTalk>
  <add key = "BaseAddress" value = "https://sandbox.giftalk.vn/dev/buffer/api/"/>
  <add key = "GiftCardDetail" value = "trustbank/giftcard_detail?apikey=crtCitiPayAPICT150617"/>
  <add key = "GiftCardPayment" value = "trustbank/giftcard_payment?apikey=crtCitiPayAPICT150617"/>
  <add key = "token" value = "a2ff1d9c486a47d29fdcb49f72f3b76f5701accf"/>
  <add key = "merchant" value = "VST78912131211456"/>
  <add key = "successStatusCode" value = "200"/>
</GiftTalk>

